@model PagedList.IPagedList<Project.MVC.ViewModels.VehicleMakeViewModel>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "VehicleMake";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Car Brands</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "VehicleMake", FormMethod.Get))
{
    <p>
        Filter by name or abbreviation: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class ="table">
    <tr>
        <th>
            Vehicle Make Id
        </th>

        <th>
            @Html.ActionLink("Name", "Index", new { sortBy = ViewBag.SortByName, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>

        <th>
            @Html.ActionLink("Abbreviation", "Index", new { sortBy = ViewBag.SortByAbbreviation, currentFilter = ViewBag.CurrentFilter })
        </th>

    </tr>

    @foreach (var item in Model)
    {

    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td></td>

        <td>
            @Html.DisplayFor(modelItem => item.Abbreviation)
        </td>

        <td></td>

        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })

        </td>

    </tr>

    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortsortBy = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))